.container {
    display: flex;
    flex-wrap: wrap;
}

/*.outer1 .outer2 {*/
/*}*/

.inner {
    height: 50px;
    width: 300px;
    margin: 20px;
    background-color: green;
    border: 1px solid black;
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    .outer1 .outer2 {
        flex-direction: column;
    }
}