* {
  margin: 0;
  padding: 0;
}

$color-primary: #f9ed69; // yellow
$color-secondary: #f08a5d; // orange
$color-tertiary: #b83b5e; // pink
$color-text-dark: #333;
$color-text-light: #eee;

$width-btn: 150px;

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  } // handles the problem when elements are floating.
}
@mixin style-link-text($prop) {
  text-decoration: none;
  text-transform: uppercase;
  color: $prop;
}

@function divide($prop1, $prop2) {
  @return $prop1 / $prop2;
}

%btn-placeholder {
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  width: $width-btn;
  @include style-link-text($color-text-light);
}

nav {
  // margin: 30px;
  margin: divide(60, 2) * 1px; // using custom func.
  background-color: $color-primary;
  @include clearfix;
}

.navigation {
  list-style: none;
  float: left;
  li {
    display: inline-block;
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
    // .navigation li:first-child {}
    a:link {
      @include style-link-text($color-text-dark);
      // color: $color-text-dark;
    }
  }
}

.buttons {
  float: right;
}

// .btn-main:link,
// .btn-hot:link {
// }
// DRY

.btn-main {
  &:link {
    background-color: $color-secondary;
    @extend %btn-placeholder;
  }
  &:hover {
    background-color: darken($color-secondary, 15%);
  }
}

.btn-hot {
  &:link {
    background-color: $color-tertiary;
    @extend %btn-placeholder;
  }
  &:hover {
    background-color: lighten($color-tertiary, 10%);
  }
}

